table {
    border-collapse: collapse;
}
table th{
    text-align: left;
    background-color: #3e6070;
    color: #fff;
    padding: 4px 30px 4px 8px;
}
table td{
    border: 2px solid #e3e3e3;
    padding: 4px 8px;
}
table tr:nth-child(even)td{
    background-color: rgba(209, 198, 209, 0.867);
}