
.navbar{
    background-image: url("../images/frisbee2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding:10px;
}
#heading{
    margin:10px 20px 50px;
    padding: 0px 300px;
    color:white;
    font-style: oblique;
}
nav button{
    font-style: oblique;
    background-color: white;
    opacity:0.7;
    border:1px solid whitesmoke;
    padding :13px 13px;
    margin-left: 180px;
    margin-bottom: 30px;
    
}
button:hover{
    opacity:1;
    color:blue;
}
.left{
    background-color:rgb(9, 65, 4);
    float:left;
    width: 150px;
    height:350px;
	float:left;
    padding: 5% 1%;
}
.information{
    margin-top: 20px;
    width: 75%;
    display: inline-block;
    padding-left: 10px;
    
}
img{
    margin-left:15px;
    width:120px;
    length:120px;
    
}